
<div class="wrapper bg-color--light-grey">

  <!-- Start header -->
  <div class="bg-color--primary u-mb-32">
    <div class="container">
      <h3 class="color--light-grey">GUIDELINE</h3>
    </div>
  </div>
  <!-- End header -->

  <div class="container">

    <!-- Start color palette -->
    <h6 class="color--primary">01.COLOR PALETTE</h6>
    <hr>
    <div class="row">
      <div class="col-sm-2">
        <div class="u-padding-8 bg-color--white u-mb-32">
          <div class="u-pt-48 bg-color--primary"></div>
          <div class="u-text-center u-mt-8">#344f60</div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="u-padding-8 bg-color--white u-mb-32">
          <div class="u-pt-48 bg-color--secondary"></div>
          <div class="u-text-center u-mt-8">#eac635</div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="u-padding-8 bg-color--white u-mb-32">
          <div class="u-pt-48 bg-color--positive"></div>
          <div class="u-text-center u-mt-8">#04a6ad</div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="u-padding-8 bg-color--white u-mb-32">
          <div class="u-pt-48 bg-color--negative"></div>
          <div class="u-text-center u-mt-8">#bb0b18</div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="u-padding-8 bg-color--white u-mb-32">
          <div class="u-pt-48 bg-color--black"></div>
          <div class="u-text-center u-mt-8">#353630</div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="u-padding-8 bg-color--white u-mb-32">
          <div class="u-pt-48 bg-color--dark-grey"></div>
          <div class="u-text-center u-mt-8">#999A94</div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="u-padding-8 bg-color--white u-mb-32">
          <div class="u-pt-48 bg-color--grey"></div>
          <div class="u-text-center u-mt-8">#D1D2D3</div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="u-padding-8 bg-color--white u-mb-32">
          <div class="u-pt-48 bg-color--light-grey"></div>
          <div class="u-text-center u-mt-8">#F4F4F4</div>
        </div>
      </div>
    </div>
    <!-- End color palette -->

    <!-- Start icons -->
    <h6 class="color--primary">02.ICONS</h6>
    <hr>
    <div class="row">
      <div class="col-sm-2 u-text-center u-mb-48">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <div class="col-sm-2 u-text-center u-mb-48">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
      <div class="col-sm-2 u-text-center u-mb-48">
        <i class="fa fa-google" aria-hidden="true"></i>
      </div>
      <div class="col-sm-2 u-text-center u-mb-48">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </div>
      <div class="col-sm-2 u-text-center u-mb-48">
        <i class="fa fa-phone" aria-hidden="true"></i>
      </div>
      <div class="col-sm-2 u-text-center u-mb-48">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
      <div class="col-sm-2 u-text-center u-mb-48">
        <i class="fa fa-bell" aria-hidden="true"></i>
      </div>
      <div class="col-sm-2 u-text-center u-mb-48">
        <i class="fa fa-book" aria-hidden="true"></i>
      </div>
      <div class="col-sm-2 u-text-center u-mb-48">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </div>
      <div class="col-sm-2 u-text-center u-mb-48">
        <i class="fa fa-send" aria-hidden="true"></i>
      </div>
      <div class="col-sm-2 u-text-center u-mb-48">
        <i class="fa fa-send-o" aria-hidden="true"></i>
      </div>
      <div class="col-sm-2 u-text-center u-mb-48">
        <i class="fa fa-share" aria-hidden="true"></i>
      </div>
      <div class="col-sm-2 u-text-center u-mb-48">
        <i class="fa fa-link" aria-hidden="true"></i>
      </div>
      <div class="col-sm-2 u-text-center u-mb-48">
        <i class="fa fa-codepen" aria-hidden="true"></i>
      </div>
      <div class="col-sm-2 u-text-center u-mb-48">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </div>
      <div class="col-sm-2 u-text-center u-mb-48">
        <i class="fa fa-heart" aria-hidden="true"></i>
      </div>
      <div class="col-sm-2 u-text-center u-mb-48">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
      </div>
      <div class="col-sm-2 u-text-center u-mb-48">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
    </div>
    <!-- End icons -->

    <!-- Start typography -->
    <h6 class="color--primary">03.TYPOGRAPHY</h6>
    <hr>
    <h6 class="color--secondary"><span class="color--dark-grey">03 </span>01.CHINESE FONT</h6>
    <div class="row u-pb-16">
      <div class="col-sm-6">
        <h1>思源黑體 標題一</h1>
        <h2>思源黑體 標題二</h2>
        <h3>思源黑體 標題三</h3>
        <h4>思源黑體 標題四</h4>
        <h5>思源黑體 標題五</h5>
        <h6>思源黑體 標題六</h6>
      </div>
      <div class="col-sm-6">
        <h6>文字段落</h6>
        <p>際最深自的領，這院領傷化現覺圖明中易，量得我接收理……求了動個不……巴就在是？關劇著象形到媽集顧病小，媽直小寫唱生新汽天外事下易旅可奇了內長等主是軍聞：平更後與種，一創子！信的維於形、產一灣同人座。兒無得特成圖運、古上優鄉北兒雙中大關為用部畫值人解響把沒月解濟告王於！</p>
      </div>
    </div>
    <h6 class="color--secondary"><span class="color--dark-grey">03 </span>01.ENHLISH FONT</h6>
    <div class="row">
      <div class="col-sm-6">
        <h1>Helvetica H1</h1>
        <h2>Helvetica H2</h2>
        <h3>Helvetica H3</h3>
        <h4>Helvetica H4</h4>
        <h5>Helvetica H5</h5>
        <h6>Helvetica H6</h6>
      </div>
      <div class="col-sm-6">
        <h6>This is a paragraph</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus ratione beatae, cum modi hic cupiditate recusandae, blanditiis dicta corporis laudantium quidem officiis perferendis. Voluptas magnam iure tenetur vero, hic minus.</p>
      </div>
    </div>
    <!-- Start typography -->

    <!-- Start layout -->
    <h6 class="color--primary">04.LAYOUT</h6>
    <hr>
    <div class="row u-mb-16">
      <div class="col-sm-1">
        <div class="u-pt-16 u-pb-16 bg-color--grey u-text-center">col-1</div>
      </div>
      <div class="col-sm-11">
        <div class="u-pt-16 u-pb-16 bg-color--grey u-text-center">col-11</div>
      </div>
    </div>
    <div class="row u-mb-16">
      <div class="col-sm-2">
        <div class="u-pt-16 u-pb-16 bg-color--grey u-text-center">col-2</div>
      </div>
      <div class="col-sm-10">
        <div class="u-pt-16 u-pb-16 bg-color--grey u-text-center">col-10</div>
      </div>
    </div>
    <div class="row u-mb-16">
      <div class="col-sm-3">
        <div class="u-pt-16 u-pb-16 bg-color--grey u-text-center">col-3</div>
      </div>
      <div class="col-sm-9">
        <div class="u-pt-16 u-pb-16 bg-color--grey u-text-center">col-9</div>
      </div>
    </div>
    <div class="row u-mb-16">
      <div class="col-sm-4">
        <div class="u-pt-16 u-pb-16 bg-color--grey u-text-center">col-1</div>
      </div>
      <div class="col-sm-8">
        <div class="u-pt-16 u-pb-16 bg-color--grey u-text-center">col-8</div>
      </div>
    </div>
    <div class="row u-mb-16">
      <div class="col-sm-5">
        <div class="u-pt-16 u-pb-16 bg-color--grey u-text-center">col-5</div>
      </div>
      <div class="col-sm-7">
        <div class="u-pt-16 u-pb-16 bg-color--grey u-text-center">col-7</div>
      </div>
    </div>
    <div class="row u-mb-16">
      <div class="col-sm-6">
        <div class="u-pt-16 u-pb-16 bg-color--grey u-text-center">col-6</div>
      </div>
      <div class="col-sm-6">
        <div class="u-pt-16 u-pb-16 bg-color--grey u-text-center">col-6</div>
      </div>
    </div>
    <!-- End layout -->

    <!-- Start ELEMENTS -->
    <h6 class="color--primary">05.UI ELEMENTS</h6>
    <hr>
    <h6 class="color--secondary"><span class="color--dark-grey">05 </span>01.BUTTONS</h6>
    <div class="u-mb-48">
      <a href="#" class="btn">default</a>
      <a href="#" class="btn btn--disabled">disabled</a>
      <a href="#" class="btn btn--primary">primary</a>
      <a href="#" class="btn btn--secondary">secondary</a>
      <a href="#" class="btn btn--positive">positive</a>
      <a href="#" class="btn btn--negative">negative</a>
    </div>
    <div class="u-mb-48">
      <a href="#" class="btn btn--lg">large</a>
      <a href="#" class="btn btn--md">medium</a>
      <a href="#" class="btn btn--sm">small</a>
    </div>
    <h6 class="color--secondary"><span class="color--dark-grey">05 </span>02.JUMBOTRON</h6>
    <div class="jumbotron jumbotron--img-covered">
      <h1 class="jumbotron__heading jumbotron__heading--center ">Some text here</h1>
      <div class="btn-group btn-group--center">
        <a href="#" class="btn btn--primary btn--lg">Learn more</a
        ><a href="#" class="btn btn--secondary btn--lg">Learn more</a>
      </div>
    </div>
    <h6 class="color--secondary"><span class="color--dark-grey">05 </span>04.THUMBNAILS</h6>
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="imgbox">
            <div class="imgbox__inner imgbox__inner-4-3">
              <div class="image" style="background-image: url('images/400x300.png');"></div>
            </div>
          </div>
          <div class="thumbnail__info">
            <h6 class="thumbnail__title">文字標題文字標題文字標題文字標題文字標題文字標題</h6>
            <p class="thumbnail__preview">際最深自的領，這院領傷化現覺圖明中易，量得我接收理……求了動個不……巴就在是？關劇著象形到媽傷化現覺圖傷化現覺圖傷化現覺圖 (字數限制) (字數限制) (字數限制) (字數限制) (字數限制)</p>
            <div class="btn-group btn-group--right thumbnail__btn-group">
              <a href="#" class="btn btn--primary">more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="imgbox">
            <div class="imgbox__inner imgbox__inner-4-3">
              <div class="image" style="background-image: url('images/400x300.png');"></div>
            </div>
          </div>
          <div class="thumbnail__info">
            <h6 class="thumbnail__title">文字標題文字標題文字標題文字標題文字標題文字標題</h6>
            <p class="thumbnail__preview">際最深自的領，這院領傷化現覺圖明中易，量得我接收理……求了動個不……巴就在是？關劇著象形到媽傷化現覺圖傷化現覺圖傷化現覺圖 (字數限制) (字數限制) (字數限制) (字數限制) (字數限制)</p>
            <div class="btn-group btn-group--right thumbnail__btn-group">
              <a href="#" class="btn btn--primary">more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="imgbox">
            <div class="imgbox__inner imgbox__inner-4-3">
              <div class="image" style="background-image: url('images/400x300.png');"></div>
            </div>
          </div>
          <div class="thumbnail__info">
            <h6 class="thumbnail__title">文字標題文字標題文字標題文字標題文字標題文字標題</h6>
            <p class="thumbnail__preview">際最深自的領，這院領傷化現覺圖明中易，量得我接收理……求了動個不……巴就在是？關劇著象形到媽傷化現覺圖傷化現覺圖傷化現覺圖 (字數限制)</p>
            <div class="btn-group btn-group--right thumbnail__btn-group">
              <a href="#" class="btn btn--primary">more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h6 class="color--secondary"><span class="color--dark-grey">05 </span>05.footer</h6>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="list">
            <h6 class="list__title">關於</h6>
            <a href="#" class="list__item">連結一</a>
            <a href="#" class="list__item">連結二</a>
            <a href="#" class="list__item">連結三</a>
            <a href="#" class="list__item">連結四</a>
            <a href="#" class="list__item">連結五</a>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="list">
            <h6 class="list__title">服務</h6>
            <a href="#" class="list__item">連結一</a>
            <a href="#" class="list__item">連結二</a>
            <a href="#" class="list__item">連結三</a>
            <a href="#" class="list__item">連結四</a>
            <a href="#" class="list__item">連結五</a>
          </div>
        </div>
        <div class="col-sm-6">
          <h6 class="list__title">服務</h6>
          <p>際最深自的領，這院領傷化現覺圖明中易，量得我接收理……求了動個不……巴就在是？關劇著象形到媽集顧病小，媽直小寫唱生新汽天外事下易旅可奇了內長等主是軍聞：平更後與種，一創子！信的維於形、產一灣同人座。兒無得特成圖運、古上優鄉北兒雙中大關為用部畫值人解響把沒月解濟告王於！</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- End ELEMENTS -->
